.profile-container {
  width: 100vw;
  min-height: 100vh;
  padding-top: 120px;
  background: url("/bg.png") no-repeat center center;
  background-size: cover;
  box-sizing: border-box;
}

/* GRID */
.profile-grid {
  max-width: 1200px;
  margin: auto;
  display: grid;
  grid-template-columns: 1.15fr 0.85fr;
  gap: 80px;
}

/* LEFT COLUMN */
.left-col {
  display: flex;
  flex-direction: column;
  gap: 50px;
}

.balance-card {
  background: #ff2d2d;
  color: white;
  border-radius: 28px;
  padding: 40px 30px 26px;
  width: 100%;
  max-width: 550px;
  height: 200px;
}

.balance-top {
  display: flex;
  justify-content: space-between;
  font-size: 25px;
  font-family: "Raleway", sans-serif;
}

.balance-amount {
  font-size: 45px;
  margin: 0 0 6px;
  font-family: "Raleway", sans-serif;
}

.pending-text {
  font-size: 18px;
  text-align: right;
  padding-right: 30px;
  opacity: 0.85;
  font-family: "Raleway", sans-serif;
}

/* CHART */
.chart-box {
  width: 100%;
  max-width: 600px;
  height: 260px;
  background: white;
  border-radius: 18px;
  padding: 0; /* remove padding */
  display: flex; /* important for ResponsiveContainer */
}



/* RIGHT COLUMN */
.right-col {
  display: flex;
  flex-direction: column;
  gap: 40px;
}

.profile-row {
  display: flex;
  gap: 20px;
  align-items: center;
}

.profile-img {
  width: 200px;
  height: 200px;
  border-radius: 50%;
  object-fit: cover;
}

.profile-text p {
  font-size: 15px;
  color: #000;
  max-width: 240px;
  font-family: "Raleway", sans-serif;
}

.profile-text h3 {
  margin: 18px 0 2px;
  font-family: "Raleway", sans-serif;
}

.profile-text span {
  font-size: 14px;
  color: #999;
  font-family: "Raleway", sans-serif;
}

/* REVENUE DISTRIBUTION */
.revenue-card {
  background: #e3f0ff;
  border-radius: 26px;
  padding: 26px;
  width: 100%;
  max-width: 420px;
  margin-left: 0;
}

.revenue-card h2 {
  text-align: center;
  margin-bottom: 24px;
}

.rev-item {
  display: grid;
  grid-template-columns: 1fr 2fr auto;
  align-items: center;
  gap: 12px;
  margin-bottom: 18px;
}

.bar {
  height: 12px;
  background: #ffffff;
  border-radius: 8px;
  overflow: hidden;
}

.bar-fill {
  height: 100%;
  background: linear-gradient(90deg, #ff2d2d, #ff6b6b);
  border-radius: 8px;
  width: 0%; /* starts at 0 for animation */
  transition: width 1.2s ease-in-out;
}

.right {
  font-size: 13px;
  line-height: 1.2;
  text-align: right;
}
