<<<<<<< HEAD
=======
@import url("https://fonts.googleapis.com/css2?family=Raleway:wght@400;500;600&display=swap");
>>>>>>> 9a2f13eac61292fb4e6449cc7d84500943712797

.signup-container {
  min-height: 100vh;
  display: flex;
  justify-content: center;
  align-items: center;
  background: url("/loginBG.png") no-repeat center center;
  background-size: cover;
  font-family: "Raleway", sans-serif;
}

.signup-card {
  width: 390px;
  background: #fff;
  border-radius: 16px;
  padding: 32px 28px;
  box-shadow: 0 25px 60px rgba(0, 0, 0, 0.12);
}

.signup-header {
  text-align: center;
  margin-bottom: 28px;
}

.logo {
  width: 90px;
}

.signup-form {
  display: flex;
  flex-direction: column;
  gap: 18px;
}

<<<<<<< HEAD
/* .form-group {
=======
.form-group {
>>>>>>> 9a2f13eac61292fb4e6449cc7d84500943712797
  display: flex;
  flex-direction: column;
  gap: 8px;
}

.form-group label {
  font-weight: 600;
}

.form-group input {
  width: 100%;
  box-sizing: border-box;
  padding: 13px 16px;
  border-radius: 10px;
  border: 1px solid #ccc;
  font-size: 14px;
  outline: none;
  transition: border-color 0.2s ease;
  font-family: "Raleway", sans-serif;
}

.form-group input:focus {
  border-color: #000;
<<<<<<< HEAD
} */
=======
}
>>>>>>> 9a2f13eac61292fb4e6449cc7d84500943712797

.password-wrapper {
  position: relative;
}

.toggle-password {
  position: absolute;
  right: 10px;
  top: 50%;
  transform: translateY(-50%);
  cursor: pointer;
  opacity: 0.6;
}

.signup-btn {
  margin-top: 12px;
  background: #000;
  color: #fff;
  padding: 14px;
  border-radius: 30px;
  border: none;
  font-size: 15px;
  font-weight: 600;
  cursor: pointer;
}

.signup-btn:hover {
  opacity: 0.85;
}

.login-link {
  margin-top: 22px;
  text-align: center;
  font-size: 13px;
}

.login-link span {
  font-weight: 600;
  cursor: pointer;
  text-decoration: underline;
  text-underline-offset: 3px;
}

.login-link span:hover {
  opacity: 0.8;
}

.terms-condition {
  margin-top: 12px;
  text-align: center;
  font-size: 12px;
  color: #777;
  line-height: 1.5;
  padding: 0 10px;
}

.terms-condition span {
  color: #000;
  font-weight: 600;
  cursor: pointer;
}
